# $schema: http://json.schemastore.org/github-workflow.json
name: main

on:
  push:
    branches:
      - main
  workflow_dispatch: {}

jobs:
  verify-github-workflows:
    uses: harmelodic/workflows/.github/workflows/verify-github-workflows.yaml@218eac28da503d6ba328c919222101e733305b40

  build-browser-extension:
    uses: harmelodic/workflows/.github/workflows/build-browser-extension.yaml@218eac28da503d6ba328c919222101e733305b40
    with:
      extension-name: minimal-grey-firefox
      release-version: ${{ github.sha }}
