# $schema: http://json.schemastore.org/github-workflow.json
name: main

on:
  push:
    branches:
      - main
  workflow_dispatch: {}

jobs:
  verify-github-workflows:
    uses: harmelodic/workflows/.github/workflows/verify-github-workflows.yaml@dbcc95e2528f57c41e350714a1a9e736273f498c

  build-browser-extension:
    uses: harmelodic/workflows/.github/workflows/build-browser-extension.yaml@dbcc95e2528f57c41e350714a1a9e736273f498c
    with:
      extension-name: minimal-grey-firefox
      release-version: ${{ github.sha }}
