# $schema: http://json.schemastore.org/github-workflow.json
name: main

on:
  push:
    branches:
      - main
  workflow_dispatch: {}

jobs:
  verify-github-workflows:
    uses: harmelodic/workflows/.github/workflows/verify-github-workflows.yaml@131488b43dd9c37f98926fdfe0db7b3cc56f0dc9

  build-browser-extension:
    uses: harmelodic/workflows/.github/workflows/build-browser-extension.yaml@131488b43dd9c37f98926fdfe0db7b3cc56f0dc9
    with:
      extension-name: minimal-grey-firefox
      release-version: ${{ github.sha }}
